# Core dependencies
fastapi
uvicorn
python-multipart
pydantic
pyngrok
httpx
firebase-admin

# Image processing
Pillow
opencv-python-headless
numpy

# Deep Learning
torch
torchvision
tensorflow
transformers
huggingface-hub

# Utilities
python-dotenv
python-jose
typing-extensions

# Optional but recommended
gunicorn
setuptools
